HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse Metadata (IMPORTANT!) ###
.metadata/
.recommenders/



### Environment Files ###
.env
.env.local

# Firebase secret key
src/main/resources/empixfit-firebase-adminsdk-fbsvc-fac727b4d9.json
src/main/resources/*.json